h3 {
    color: var(--color-secondary);
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 300;
    animation: fadeInDown 1s both 0.2s;
}

.currency-logo {
    max-height: 64px;
    max-width: 64px;
}

.currency-line-logo {
    max-height: 100px;
    max-width: 100px;
}

.current-prices-p {
    text-align: center;
}
.crypto-desc{
    padding-top: 50px;
}

.crypto-desc p{
    color: var(--color-secondary-light);
    animation: fadeInDown 1s both 0.4s;
    font-weight: 500;
    margin-bottom: 30px;
}

.counter-p{
    color: var(--color-secondary-light);
    animation: fadeInDown 1s both 0.4s;
    font-weight: 500;
    margin-bottom: 30px;
}

.counter-h3{
    margin-bottom: 10px;
}

.crypto-desc h3 {
    color: var(--color-secondary);
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 300;
    animation: fadeInDown 1s both 0.2s;
}

.crypto-desc ul li{
    color: var(--color-secondary-light);
    animation: fadeInDown 1s both 0.4s;
    font-weight: 500;
    margin-bottom: 30px;
}




